
    * {
  font-family: 'Arial', 'Times', sans-serif;
}

a {
  color: rgb(102, 255, 153);

  
}

body {
	background-image: url(".https://www.linkedin.com/in/savannah-lee-stephens-78435095/edit/topcard/");
	background-color: #cccccc;
}
    